.code-container{
    border:2px solid var(--gray3);  
    margin-bottom: 3rem;
}

.code-header{
    border-bottom:2px solid var(--gray3);
    justify-content:flex-end;
}

.code-header__list li{
 cursor: pointer;
}
.code-header__list li{
    border-left:2px solid var(--gray3);
    padding:0.8em;
}
.demo-block{
    padding:1rem;
}

@media(max-width:576px){
   
  }