.sidenav{
    background-color:var(--gray0);
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    min-height:100vh;
    width:20%;
    padding-left:32px;    
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.sidenav>a{
  list-style-type: none;
  width: 90%;
  text-align: left;
  padding: 8px;
  border:0px solid silver;
  border-radius: 4px;
  text-decoration: none;
  color: var(--gray7);
  margin-bottom: 4px;
}

.sidenav>a:visited{
text-decoration: none;
}
.sidenav>a:hover{
  background-color:var(--theme1);
  cursor: pointer;
  color:black;
}
.sidenav>a:focus{
  color:white;
  background-color: var(--theme1);
  outline: none;
}
.sidenav>a:active{
  color: white;
}

.drawer-button{
  display: none; 
}

.nav-hidden{
  display: none;
}
@media(max-width:576px){
.drawer-nav{
position: sticky;
top:80px;
width: 100vw;
height: 100vh;
 align-self: center;
 z-index: 9;

}

.static-nav{
  display: none;
}


  .drawer-button{
   z-index: 99;
   display: inline;
  }
}


