.sidenav{
    background-color:var(--gray1);
   
    min-height:100vh;
    width:20%;
    padding-left:32px;    
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.sidenav>a{
  list-style-type: none;
  width: 90%;
  text-align: left;
  padding: 8px;
  border:0px solid silver;
  border-radius: 4px;
  text-decoration: none;
  color: var(--gray7);
  margin-bottom: 4px;
}

.sidenav>a:visited{
text-decoration: none;
}
.sidenav>a:hover{
  background-color:var(--theme1);
  cursor: pointer;
  color:black;
}
.sidenav>a:focus{
  color:white;
  background-color: var(--theme1);
  outline: none;
}
.sidenav>a:active{
  color: white;
}

@media(max-width:576px){
.sidenav{
  
  align-self: center;
 width:80%;  
}
}

  
