.sidenav{
    background-color:var(--gray0);
    height:100vh;
    width:25%;
    padding:32px;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.sidenav>a{
  list-style-type: none;
  width: 100%;
  text-align: left;
  padding: 8px;
  border:0px solid silver;
  border-radius: 4px;
  text-decoration: none;
  color: var(--gray7);
}

.sidenav>a:visited{
text-decoration: none;
}
.sidenav>a:hover{
  background-color: var(--yellow5);
  cursor: pointer;
  color:white;
}
.sidenav>a:focus{
  color:white;
  background-color: var(--yellow5);
  outline: none;
}
.sidenav>a:active{
  color: white;
}

@media(max-width:576px){
.sidenav{
  
  align-self: center;
 width:80%;  
}
}

  
