.buttons__list button{
  margin: 0 8px 8px 0;
}

.block{
    display: block;
    min-width: 100%;
}
.block button{
    display: block;
    min-width: 100%;
    margin-bottom: 0.25rem;
}

.button--floating{
    color:white;
    background-color: var(--blue6);
    box-shadow: 0px 0px 3px var(--blue6); 

    border-radius: 50%;   
    border: none;      
    position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:40px;
	border-radius:50%;
	text-align:center;
}

.button--floating:hover{
    background-color: var(--blue7);
    cursor: pointer;
}



.button-primary{    
    border-radius: 4px;
    background-color: var(--blue6);
    padding: 0.5em 1em 0.5em 1em;
    color:var(--blue1);
    cursor: pointer;
}
.button-primary:hover{
    background-color: var(--blue7);
   
}
.button-primary-outline{
    border-radius: 4px;
    background-color: white;
    border: 1px solid;
    border-color: var(--blue6);
    padding: 0.5em 1em 0.5em 1em;
    color:var(--blue6);
    cursor: pointer;
}
.button-primary-outline:hover{
    background-color: var(--blue6);
    color:var(--gray0);
}


.button-secondary{    
    border-radius: 4px;
    background-color: var(--gray5);
    padding: 0.5em 1em 0.5em 1em;
    color:var(--gray1);
    cursor: pointer;
}
.button-secondary:hover{
    background-color: var(--gray6);
}
.button-secondary-outline{
    border-radius: 4px;
    background-color: white;
    border: 1px solid;
    border-color: var(--gray6);
    padding: 0.5em 1em 0.5em 1em;
    color:var(--gray6);
    cursor: pointer;
}
.button-secondary-outline:hover{
    background-color: var(--gray6);
    color:var(--gray1);
}


.button-danger{
    border-radius: 4px;
    background-color: var(--red6);
    padding: 0.5em 1em 0.5em 1em;
    color:var(--red0);
    cursor: pointer;
}

.button-danger:hover{
    background-color: var(--red7);
}
.button-danger-outline{
    border-radius: 4px;
    background-color: white;
    border: 1px solid;
    border-color: var(--red6);
    padding: 0.5em 1em 0.5em 1em;
    color:var(--red6);
    cursor: pointer;
}
.button-danger-outline:hover{
    background-color: var(--red6);
    color:var(--red0);
}


.button-warning{    
    border-radius: 4px;
    background-color: var(--yellow4);
    padding: 0.5em 1em 0.5em 1em;
    color:var(--yellow9);
    cursor: pointer;
}
.button-warning:hover{
    background-color: var(--yellow5);
}
.button-warning-outline{
    border-radius: 4px;
    background-color: white;
    border: 1px solid;
    border-color: var(--yellow4);
    padding: 0.5em 1em 0.5em 1em;
    color:var(--yellow4);
    cursor: pointer;
}
.button-warning-outline:hover{
    background-color: var(--yellow4);
    color:var(--yellow0);
}
