.badges-wrapper>div{
   margin: 0 8px 0 8px;
}
.badges-wrapper{
 
    align-items:center;
}

.badge--basic{
    padding:.25em .4em .25em .4em;
    text-justify: center;
    text-align:center;
    border-radius: 4px;
}
.badge--status{
    border-radius: 100%;
    height: .9em;
    width: .9em; 
    
    border:2px solid gray;
}
.badge--primary{
    background-color: var(--blue7);
    color:var(--blue0);
    
}

.badge--success{
    background-color: var(--green7);
    color:var(--green0);
}


.badge--warning{
    background-color: var(--yellow4 );
    color:var(--yellow9)
}
.badge--danger{
    background-color: var(--red7);
    color:var(--red0);
}

.badge--passive{
    background-color: var(--gray5);
    color: #FFF;
}


.badge--avatar{
    display: inline;
    position: relative;
}

.badge--avatar__badge{
    position: absolute;
    bottom: 0;
    right:0;
}