.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:8px 0 8px 0;
    border-bottom: 0px solid silver;
    width: 100%;      
}
.brand{
    align-self:center;
    padding-left: 1rem;
    min-width: initial;
}

.brand{
    justify-self: left;
}
