.App {
   padding-right: 5%;
}

.main-content {
   width: 100%;
   min-height: 100vh;
   padding: 0 2rem 2rem 2rem;
}

@media (max-width: 992px) {
   .App {
      padding: 0px;
   }
}

@media (max-width: 576px) {
   .content-area {
      flex-direction: column;
      padding: 0px;
      margin: 0px;
      align-items: flex-start;
   }
   .App {
      padding: 0px;
   }
   .main-content {
      padding: 0px;
      margin: 0px;
   }
}

/* tw */
