.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

/* typography */

.text-xxs{
    font-size: 0.7rem;
    line-height:0.875rem;
}
.text-xs{
    font-size: 0.75rem;
    line-height: 1rem;    
} 
.text-s{
    font-size: 0.875rem;
line-height: 1.25rem;
}
.text{
    font-size: 1rem;
line-height: 1.5rem;
}
.text-l{
    font-size: 1.125rem;
line-height: 1.75rem;
}
.text-xl{
    font-size: 1.25rem;
line-height: 1.75rem;
}
.text-2xl{
    font-size: 1.5rem;
line-height: 2rem;
}
.text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-5xl{
    font-size: 3rem;
    line-height: 1;
}

/* weights */

.extralight{
    font-weight: 200;
}
.light{
    font-weight: 400;
}
.normal{
    font-weight: 400;
}
.medium{
    font-weight: 500;
}
.semibold{
    font-weight: 600;
}
.bold{
    font-weight: 700;
}
.extrabold{
    font-weight: 800;
}


/* Lists */
.list-number{
    list-style-type:decimal;
}
.list-nav-tabs{
    list-style-type:none;       
}
.list-nav-tabs li{
    padding: 0 12px 0 12px;
}